:root {
    --purple : #B91450;
}

body {
    background: var(--purple);
}


.g-20 {
    gap: 20px;
}

.ticket {
    width: 80%;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    background: #fff;
    border-radius: 14px;
    box-shadow: 0px 0px 5px ;
    color: var(--purple);
    font-weight: bold;
}

input , select{
    border-radius: 5px;
    border: 2px solid var(--purple);
    font-weight: bold;
    padding: 0.3rem;
    text-align: center;
}

input[type="button"] {
    padding: 0.3rem;
    color: var(--purple);
    font-weight: bold;
    background: lightgray;
}


.mostra {
    display: block;
}

.nascondi {
    display: none;
}


